.FileList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__Tab {
    height: 22px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #424e5c;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    user-select: none;

    &:not(:last-child) {
      border-right: 1px solid black;
    }

    &--IsActive {
      background: #5e6d7f;
      font-weight: bold;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }

    &:not(&--IsActive):hover {
      background: #4a5768;
    }
  }

  &__CloseButton {
    visibility: hidden;
    position: absolute;
    right: 2px;
  }
}
