#file-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#file-list button {
  visibility: hidden;
}

#file-list .file-tab {
  background: #424e5c;
  border: 1px solid black;
  color: white;
}

#file-list .file-tab:hover {
  background: #4a5768;
}

#file-list .file-tab:hover button {
  visibility: visible;
}

#file-list .file-tab.active {
  background: #5e6d7f;
  font-weight: bold;
}
