.FileList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__Tab {
    background: #424e5c;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    // TODO Add right border for :not(:last-child) when there are multiple tabs open
    text-align: center;

    &--active {
      background: #5e6d7f;
      font-weight: bold;
    }

    &:hover {
      background: #4a5768;

      button {
        visibility: visible;
      }
    }

    button {
      visibility: hidden;
      position: absolute;
      right: 2px;
    }
  }
}
