.Inspector__ViewButton {
  height: 19px;
  padding-bottom: 2px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #424e5c;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;

  &:not(:last-child) {
    border-right: 1px solid #373b42;
  }

  &:hover {
    cursor: default;

    &:not(&--IsActive) {
      background: #4a5768;
    }
  }

  &--IsActive {
    background: #6191d2;
  }
}
