.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__ScoreControls {
    background: #2a2a2a;
  }

  &__ActiveFileName {
    color: #898989;
    text-align: center;
    padding-top: 2px;
  }

  &__Content {
    &--Main {
      // TODO Find less hacky solution than { height: 0 } for making Document scrollable without making page taller
      height: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &--Center {
      height: inherit;
      flex: 1;
      display: flex;
      justify-content: space-between;
    }
  }
}
