.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .TopBar {
    background: #2a2a2a;

    &__ActiveFileName {
      color: #898989;
      text-align: center;
      padding-top: 2px;
    }
  }

  .ToolBar {
    display: flex;
    justify-content: space-between;

    &__Group {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 6px;

      > button {
        height: 22px;
      }
    }

    &__ButtonContainer {
      display: flex;

      > button {
        height: 22px;
      }
    }

    .NavigationAndPlayback {
      display: flex;
    }

    .LCD {
      width: 317px;
      display: grid;
      grid-template-columns: repeat(18, 1fr);
      grid-template-rows: 1fr 1fr minmax(min-content, max-content);

      &__Control {
        &--CurrentTrack {
          grid-column: span 13;
        }

        &--CountIn {
          grid-column: span 1;
        }

        &--Metronome {
          grid-column: span 1;
        }

        &--MetronomeSettings {
          grid-column: span 1;
        }

        &--NoteAtCursor {
          grid-column: span 2;
        }

        &--BarPosition,
        &--BarPosition ~ button,
        &--BarPosition ~ div {
          grid-row: 2;
          font-size: 11px;
        }

        &--BarPosition {
          grid-column: span 3;
        }

        &--BarCurrentDuration {
          grid-column: span 4;
        }

        &--Time {
          grid-column: span 5;
        }

        &--TripletFeel {
          grid-column: span 2;
        }

        &--Tempo {
          grid-column: span 3;
        }

        &--TimeSignature {
          grid-column: span 1;
        }

        &--TimeScrubber {
          grid-row: 3;
          grid-column: 1 / -1; // Span all columns
        }
      }

      button {
        color: white;
      }

      &__Control {
        background: #191c21;
        user-select: none;

        &:hover {
          background: #2f333d;
        }

        &--CurrentTrack {
          font-size: 14px;
          font-weight: 800;
        }
      }
    }
  }

  &__Content {
    &--Main {
      // TODO Find less hacky solution than { height: 0 } for making Workspace scrollable without making page taller
      height: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &--Center {
      height: inherit;
      flex: 1;
      display: flex;
      justify-content: space-between;
    }
  }
}
